<!DOCTYPE html>
<html ng-app="restGearApp">
	<head>
	    <title>Rest Gear</title>
	    <link href="/ui/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	    <link href="/ui/styles/app.css" rel="stylesheet">
	</head>
	<body> 
	    <div class="container" ng-controller="RestGearController">
	    	<h1>Rest Gear</h1>
	    	<div class="row container_main">
	    		<div class="span4"><h4>Host Name</h4><input type="text" ng-model="hostName" placeholder="Enter the host name here..."></div>
				<div class="span8"><h4>Port</h4><input type="text" ng-model="port" placeholder="Enter the port here..."></div>
	    	</div>	   		
		</div>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
		<script src="/ui/bootstrap/js/bootstrap.min.js"></script>
	    <script src="/ui/scripts/app.js"></script>	     
	</body>
</html>